<html>
<head>
<title>
Dashboard Seção {{secao.secao}}
</title>
</head>
<body>
<iframe src="http://10.151.1.21:5601/app/kibana#/dashboard/Familias-SKUs-familiasskus?embed&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!t),panels:!{{panels}},query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Familias%20SKUs%20-%20familiasskus',uiState:(P-13:(spy:(mode:(fill:!f,name:!n)))))" height="100%" width="100%"></iframe>
</body>
</html>
