{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block title %} {{_('Sugestão de Familias por Material')}} | {{ title }} {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        {% if not user.is_superuser %}
            $(function(){
                $('.change-related').hide();
                });
            $('#recent-actions-module').hide();
            $('.changelink').hide();
        {% endif %}
        $('input.autocomplete').each( function(){
            cod_material = $(this).parents('tr').find('.field-cod_material').text();
            $(this).yourlabsAutocomplete().data = {'cod_material':cod_material};
            });
        $('.familia-sugerida').click( function(event){
            event.preventDefault();
            value = $(this).text().split(' ')[0];
            input = $(this).parents('tr').find('.field-familia input');
            input.val(value);
            input.change().focus();
            });
    </script>
{% endblock %}
