{% extends "admin/base.html" %}
{% load static %}
{% load staticfiles %}

{% block extrastyle%}
    {{ block.super }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
    <link rel="stylesheet" href="{% static 'default/js/vendor/jquery-ui/jquery-ui.css' %}">
    <script src="{% static 'default/js/vendor/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %} {{_('Sugestão de Familias por Material')}} | {{ title }} {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            {% if not user.is_superuser %}
                $('.change-related').hide();
                $('th.column-id').hide();
                $('th.field-id').hide();
                $('#recent-actions-module').hide();
                $('.changelink').hide();
                $('.actions .question').remove();
            {% endif %}
            $('input.autocomplete').each( function(){
                var material = $(this).parents('tr').find('.field-__unicode__').text();
                var cod_material = material.split(' ')[0];
                $(this).yourlabsAutocomplete().data = {'cod_material':cod_material};
                });
            $('.familia-sugerida').click( function(event){
                event.preventDefault();
                var value = $(this).text().split(' ')[0];
                $(this).parents('tr').find('.field-familia .remove').click();
                var input = $(this).parents('tr').find('.field-familia input');
                input.val(value);
                input.yourlabsAutocomplete().refresh();
                });
            $('.paginator a').click( function(event){

                if ($('.action-checkbox .action-select:checked').length > 0 ){
                    event.preventDefault();

                    var targetUrl = $(this).attr("href");

                    $( "#dialog-sem-gravar" ).dialog({
                        resizable: false,
                        height:200,
                        width:600,
                        modal: true,
                        buttons: {
                            "Melhor vou gravar as modificações": function() {
                                $( this ).dialog( "close" );
                                },
                            "Quero mudar de pagina mesmo": function() {
                                window.location.href = targetUrl;
                                },
                            }
                        });

                    }

                });

            $('#dialog-sem-gravar').hide();

            $('input.familia-aplicada').button();
            $('input.familia-aplicada').click(function(e){
                var span = $(this).next().find('span');
                var img_familia_selecionada = $(this).parents('tr').find('td.field-familia_selecionada img')
                if ($(this).prop('checked')){
                    span.html('Aplicada');
                    img_familia_selecionada.prop('src','/static/admin/img/icon-yes.svg');
                    }else{
                    span.html('Não aplic.');
                    img_familia_selecionada.prop('src','/static/admin/img/icon-no.svg');
                    }
                });

            $('#changelist-form button').click(function(){

                if ($(this).parents('form').find('select').prop('value')=='aplicar_familia')
                    $( "#dialog-esperar" ).dialog({
                        resizable: false,
                        height:200,
                        width:600,
                        modal: true,
                        })

                });
            $('#dialog-esperar').hide();

            $('td.field-familia').removeClass('nowrap');
            $('th.column-familia_selecionada').css('white-space','normal');
            $('th.column-sugeridos_ja_tratados').css('white-space','normal');

            var $dashboard = $('tbody tr.model-familia').first().clone();
            $dashboard.find('th a').attr('href','/').attr('target','_blank').attr('class','').text('Dashboard');
            $('tbody tr.model-secao').first();
            $('tbody').append($dashboard);

            var $secao=$('tbody tr.model-secao').first();
            var $tbody = $secao.parents('tbody');
            $secao.remove();
            $tbody.prepend($secao);

            });
    </script>

    <div id="dialog-sem-gravar" title="Mofificações ainda não aplicadas">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Ainda tem modificaçãoes sem aplicar, tem certeza de querer mudar de pagina?
        </p>
    </div>

    <div id="dialog-esperar" title="Operação em processo">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            A operação em procesamento pode demorar. Por favor aguarde até a mesma finalizar. Obrigado.
        </p>
    </div>

{% endblock %}
